node_modules/
**/node_modules/
.expo/
.git/
web-build/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.DS_Store
*.tsbuildinfo
.vercel/
npm-debug.*
yarn-debug.*
yarn-error.*
# Removing lockfiles from ignore to ensure consistent remote install
# but sometimes conflicting lockfiles (bun vs npm) cause issues.
